.ValuesMissionVision {
    display: flex;
    flex-basis: auto;
    gap: 1rem;
    padding: 2rem;
}

@media screen and (max-width: 1200px) {
    .ValuesMissionVision {
        flex-direction: column;
        width: 85%;
        gap: 3rem;
    }
}
