.Hero {
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to bottom, rgba(31, 0, 44, 0.921), rgba(31, 0, 44, 0));
}

.Hero .hero-content {
    width: 70%;
    height: 60%;
    /* border: 1px solid red; */
}

.Hero .hero-content h1 {
    font-size: 4rem;
}

.Hero .hero-content .hero-p-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .95rem;
    font-weight: 300;
    color: gray;
}

.Hero .construction-note {
    padding-top: 2rem;
    /* color: rgb(192, 130, 251); */
    color: rgba(255, 200, 0, 0.617);
    font-weight: 300;
}