.SmallCard {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.SmallCard .sc-title {
    font-weight: 900;
}

.SmallCard .sc-content {
    text-wrap: balanced;
    font-weight: 300;
}