.mission {
    margin-top: -3rem;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-image: linear-gradient(to bottom, rgba(57, 0, 82, 0.921), rgba(31, 0, 44, 0));
}

.mission .mission-content {
    width: 60ch;
    /* border: 1px solid lime; */
}


.Hero .hero-content h1 {
    padding-top: 3rem;
    font-size: clamp(3rem, 1.75rem + 4vw, 4rem);
}

.mission .mission-content .mission-p-div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: clamp(0.95rem, 1.307rem + -0.952vw, 0.45rem);
    font-weight: 300;
    color: lightgrey;
    text-wrap: pretty;
}

.mission .construction-note {
    padding-top: 2rem;
    color: rgba(255, 200, 0, 0.75);
    font-weight: 300;
}