.Mission {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* margin-top: 3.5rem;  */
}

.Mission .parallax-container {
    width: 100%;
}

.Mission .parallax-container h2 {
    /* border: 1px solid red; */
    margin: 0 auto;
    color: rgba(171, 109, 229, 0.75);
    font-size: 2.5rem;
}

.Mission .parallax-container p {
    font-size: 1rem;
}

.Mission .parallax-container .temp {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
}